@page "/"
@using System.Threading.Tasks
@using Microsoft.AspNetCore.Components



<PageTitle>Home</PageTitle>

<article class="content container px-4 bg-transparent">

    <h2>Melhores ações de 2022</h2>
    <br />
    <section class="section">
        <a href="Details/WTM">
        <div class="action_div">
            WTM White Mountains Insurance Group Ltd
        </div>
        </a>
        <a href="Details/TPL ">
        <div class="action_div">
            TPL Texas Pacific Land Corp
        </div>
        </a>
        <a href="Details/Y">
        <div class="action_div">
           Y Alleghany Corporation
        </div>
        </a>
        <a href="Details/NRGU">
        <div class="action_div">
            NRGU MicroSectors™ U.S. Big Oil Index 3X Leveraged ETNs
        </div>
        </a>
        <a href="Details/NOC">
        <div class="action_div">
            NOC Northrop Grumman Corporation
        </div>
        </a>
    </section>

</article>
