@page "/Login"
@using System.Net.Http
@using System.Text.Json
@using Bank.Client.Services;
@inject HttpClient httpClient
@inject IUserDataService UserDataService
@using Bank.Shared;

@inject Blazored.LocalStorage.ILocalStorageService localStore





    <div class="central">
        <form id="login" Model="@User">
        <h1>Login</h1>
            <h4 id="erro" style="display: @(showError ? "flex" : "none"); color:red">Erro: Usuário não encontrado ou dados de login inválidos.</h4>

        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" @bind="@User.Email">
           
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="@User.UPassword">
        </div>
            <button type="button" class="btn btn-outline-success btn-lg btn-block" @onclick="LoginU">Entrar</button>
            <div class="form-group">
                <p>Ainda não tem uma conta? <a style="color:blue" href="/Register">Registar</a></p>
            </div>
    </form>
</div>


