@page "/wallet"
@using System.Net.Http
@using System.Text.Json
@using Bank.Client.Services
@inject HttpClient httpClient
@inject IWalletService WalletService
@using Bank.Shared
@inject Blazored.LocalStorage.ILocalStorageService localStore


<div class="d-flex justify-content-between align-items-lg-center">

    <h1>@(WalletById != null ? WalletById.WalletName : "Carteira não encontrada")</h1>
    <button @onclick="EditAc" class="btn btn-outline-warning">edit</button>
</div>

<div class="section">
    
        @if (symbolsWithCurrentUserId.Any())
        {
            @foreach (var symbol in symbolsWithCurrentUserId)
        {
    
            <div  class="itens">
                 <a   href=@($"details/{symbol.SymbolName}")>@symbol.SymbolName</a>
                <div id="del">
                @if (EditAcs == true)
                {
                 
                        <button class="btn btn-danger" @onclick="()=>  deleteSymbol(symbol.SymbolName)">
                            Del
                        </button>
                  
                }
                </div>
            </div>
            }
        }
        else
        {
            <p>Nenhum símbolo encontrado para o usuário atual.</p>
        }
 
</div>

<link href="WalletAc.razor.css" rel="stylesheet" />