.section {
    background: #292929;
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 3px solid rgba( 255, 255, 255, 0.18 );
    height: 75vh;
    width: 80vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 colunas */
    grid-template-rows: repeat(3, 1fr); /* 5 filas */
    gap: 10px; /* Espaçamento entre os itens */
    padding: 10px; /* Espaçamento interno da seção */

    overflow-y: auto;
}



.itens {
    background-color: rgba( 255, 255, 255, 0.90 ); 

    text-align: center; /* Centralizar o texto dentro dos itens */
    border: 1px solid #ddd; /* Borda para destacar os itens */
    color: black;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction:column-reverse;
    text-decoration:none;
}

    .itens > a {
        text-decoration: none;
        color: #000;
    }
    .itens:hover {
        background:rgba( 255, 255, 255, 0.90 );
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        cursor: pointer;
    }

#del {
 
    height: 9vh;
    width: 15vw;

    display: flex;
    justify-content: flex-end;
}


@media (max-width: 768px) {
    .section {
      
        width: 90vw;
      
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 3 colunas */
        grid-template-rows: repeat(4, 1fr); /* 5 filas */
        gap: 5px; 
        padding: 5px; 
    }
    #del {
 
        height: 8vh;
        width: 15vw;
        display: flex;
        justify-content: flex-end;
    }

  
}