@page "/wallet"
@using System.Net.Http
@using System.Text.Json
@using Bank.Client.Services
@inject HttpClient httpClient
@inject IWalletService WalletService
@using Bank.Shared
@inject Blazored.LocalStorage.ILocalStorageService localStore



<h1>@(WalletById != null ? WalletById.WalletName : "Carteira não encontrada")</h1>

<div class="section">
    
        @if (symbolsWithCurrentUserId.Any())
        {
            @foreach (var symbol in symbolsWithCurrentUserId)
        {
            <a class="itens" href=@($"details/{symbol.SymbolName}")>
                <p>@symbol.SymbolName</p>
            </a>
            }
        }
        else
        {
            <p>Nenhum símbolo encontrado para o usuário atual.</p>
        }
 
</div>

<link href="WalletAc.razor.css" rel="stylesheet" />